<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Random dog image generator.">
  <meta name="keywords" content="dog,random">
  <meta name="author" content="Richard Huynh">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Dog Image Generator</title>
  <link rel="icon" type="image/x-icon" href="images/favicon.ico">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <div id="content">
    <img src=<%= img %> alt="a dog">
  </div>
  <button onclick="window.location.reload()">Generate Another Random Dog</button>
</body>
</html>
