<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Random dog image generator.">
  <meta name="keywords" content="dog,random">
  <meta name="author" content="Richard Huynh">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Dog Image Generator</title>
</head>
<body>
  
</body>
</html>
